#hotel-details {
    background-color: rgb(132, 136, 139);
    width: 60%;
    height: 20%;
    margin: 2% auto;
    display: flex;
    align-items: center;
}
#payment-container {
    margin-top:7%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.hotel-image {
    max-height: 300px;
    max-width: 270px;
}
#customer-payment-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    border: black 1px solid;
    border-radius: 5px;
    margin: 0% 2%;
    background-color: rosybrown;
}
@media screen and (max-width: 576px) {
    #hotel-details {
        width: 100%;
        flex-direction: column;
        padding-top: 10px;
    }

    #payment-container {
        margin-top: 20%;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #pay-now{
        align-self: center;
    }

    #customer-payment-details {
        align-items: normal;
        flex-direction: column;
        padding: 15px;
    }

    .hotel-name-rating {
        text-align: center;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    #hotel-details {
        width: 80%;
        margin: 5% auto;
    }
}